.parent {
    width: 500px;
    height: 300px;
    background-color: #eee;
    margin: 20px auto;
    padding: 10px;
    transition: all 1.5s ease;
    top: -15px;
    position: relative;

}

.parent:hover {
    background-color: red;
    top: 10px;

}

.child {
    text-align: center;
    padding: 20px;
    font-size: 30px;

}

.child2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #ccc;
    position: relative;
    top: 0px;
    transition: all 0.5s ease;
}

.parent:hover .child2 {
    background-color: yellowgreen;
    top: 10px;
}

.one {
    background-color: #eee !important;
    color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none !important;
}

.one::before {
    content: "Elzero";
    position: absolute;
    /* position: relative; */
    /* font-size: large; */
    font-weight: bold;
    text-align: center;
    /* background-color: green; */
    color: black;
    font-family: sans-serif;
}

:root {
    --main-color: #489689;
}

.element div {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 10px;
    margin: 20px auto;
    width: 300px;
    color: var(--main-color, red);
    border: solid 5px var(--main-color, black);
}

.elzero {
    width: 400px;
    height: 400px;
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    font-family: sans-serif;
    color: orangered;
    border-radius: 50%;
    box-shadow: 21px 0px 0px 0px #E8542B, -20px -1px 0px 0px #56AAF5
}